<div class="row">
  <div class="col-md-4">

    <p>image 1 text</p>
  </div>
  <div class="col-md-4">
    <p>image 1 text</p>
  </div>
  <div class="col-md-4">
    <p>image 1 text</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul>
      {{#each model as |article|}}
      {{article-tile article=article}}
      {{/each}}
    </ul>
  </div>
</div>
